#root {
    height: 100vh;
    background-image: linear-gradient(#499388 10%, #dbdbd2 10%);
}

/* Generics */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

.avatar {
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.buttons {
    color: #b1b1b1;
}


/* Reset bootstrap row's gutter */
.row {
    --bs-gutter-x: 0;
}

.row>* {
    min-height: 600px;
    background-color: #eaeaea;
}

header,
footer {
    min-height: 70px;
    display: flex;
    padding: 0 10px;
}

/* Left Block */

#user-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.notifics-bar,
.search-bar {
    padding: 10px;
    min-height: 30px;
}

#search-bar {
    height: 30px;
    width: 100%;
    border: none;
    padding-left: calc(1.5em + .75rem);
    background-image: url("/img/search-interface-symbol.png");
    background-repeat: no-repeat;
    background-position: left calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.notifics-bar {
    background-color: #a4d8fb;
}

.notifics-bar i {
    color: #a4d8fb;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
}

.notific-toggle {
    color: grey;
    text-decoration: underline;
}

.contact-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.last-message,
.last-message-time {
    color: grey;
}

.contacts-list>li:hover {
    background-color: lightgray;
    cursor: pointer;
}