#root {
    height: 100vh;
    background-image: linear-gradient(#499388 10%, #dbdbd2 10%);
}

/* Generics */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

.avatar {
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.buttons {
    color: #b1b1b1;
}


/* Reset bootstrap row's gutter */
.row {
    --bs-gutter-x: 0;
}

.row>* {
    height: 90vh;
    background-color: #eaeaea;
}

header,
footer {
    display: flex;
    padding: 10px 20px;
}

/* Left Block */

#user-name,
.contact-name,
#selected-contact-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.notifics-bar,
.search-bar {
    padding: 10px;
    flex-shrink: 0;
}


#search-bar {
    min-height: 40px;
    width: 100%;
    border: none;
    padding-left: calc(1.5em + .75rem);
    background-image: url("/img/search-interface-symbol.png");
    background-repeat: no-repeat;
    background-position: left calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.notifics-bar {
    background-color: #a4d8fb;
}

.notifics-bar i {
    color: #a4d8fb;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
}

.notific-toggle {
    color: grey;
    text-decoration: underline;
}

.contact-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.last-message,
.last-message-time,
.message-time {
    color: grey;
}

.contacts-list>li:hover {
    background-color: lightgray;
    cursor: pointer;
}

/* Right block */
#display-messages {
    background-image: url("/img/mine.jpg");
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 30px 50px;
}

.message-item {
    position: relative;
    border-radius: 10px;
    min-height: 20px;
    width: calc(100% / 12 * 5);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.message-item.sent {
    align-self: flex-end;
    background-color: #ddf7bd;

}

.message-item.sent::after {
    content: '';
    border-top: 20px solid transparent;
    border-left: 0;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #ddf7bd;
    position: absolute;
    right: -10px;
    bottom: 0;
}

.message-item.received {
    align-self: flex-start;
    background-color: white;
}

.message-item.received::after {
    content: '';
    border-top: 20px solid transparent;
    border-left: 20px solid transparent;
    border-right: 0;
    border-bottom: 20px solid white;
    position: absolute;
    left: -10px;
    bottom: 0;
}

.message-time {
    font-size: 0.8rem;
    align-self: flex-end;
}

footer i {
    font-size: 1.3rem;
}

#new-message {
    padding: 10px;
}