<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <!-- FontAwesome -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css'
        integrity='sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=='
        crossorigin='anonymous' />
    <!-- Bootstrap -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap.min.css'
        integrity='sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=='
        crossorigin='anonymous' />
    <!-- CSS Style sheet -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Luxon js -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>
    <!-- Vue JS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- JS Script -->
    <script src="js/script.js" defer></script>
</head>

<body>
    <div id="root" class="d-flex  align-items-center ">
        <main class="container">

            <div class="row">
                <!-- Blocco sinistro -->
                <div class="block-left col-4 d-flex flex-column border-end border-dark-subtle">
                    <!-- Header -->
                    <header class="d-flex justify-content-between flex-shrink-0 ">
                        <div class="personal-data d-flex align-items-center ">
                            <img class="avatar" :src="`img/avatar${user.avatar}.jpg`" :alt="user.avatar">
                            <div id="user-name">{{user.name}}</div>
                        </div>
                        <div class="buttons d-flex align-items-center column-gap-3">
                            <i role="button" class="fa-solid fa-circle-notch"></i>
                            <i role="button" class="fa-solid fa-message"></i>
                            <i role="button" class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </header>
                    <!-- Barra notifiche -->
                    <div class="notifics-bar d-flex align-items-center flex-shrink-0  ">
                        <i class="fa-solid fa-bell-slash"></i>
                        <i class="fa-solid fa-bell d-none "></i>
                        <span>Ricevi notifiche di nuovi messaggi
                            <span role="button" class="notific-toggle d-block ">Attiva notifiche desktop</span>
                        </span>
                    </div>
                    <!-- Barra di ricerca contatti -->
                    <div class="search-bar flex-shrink-0 ">
                        <input type="text" v-model="searchUser" id="search-bar"
                            placeholder="Cerca o inizia una nuova chat">
                    </div>
                    <!-- Lista contatti -->
                    <ul class="list-group flex-grow-1 overflow-y-scroll contacts-list">
                        <li @click="selectContactId(contact.id)" v-for="contact in filteredContacts"
                            class="list-group-item d-flex justify-content-between " :key="contact.id">
                            <div class="contact-li-left d-flex ">
                                <img :src="`img/avatar${contact.avatar}.jpg`" class="avatar" :alt="contact.avatar">
                                <div>
                                    <div class="contact-name">{{contact.name}}</div>
                                    <span class="last-message">{{getLastMessageText(contact)}}</span>
                                </div>
                            </div>
                            <span class="last-message-time">{{formatDate(getLastMessageDate(contact))}}</span>
                        </li>
                    </ul>
                </div>
                <!-- Blocco destro -->
                <div class="block-right col-8 d-flex flex-column">
                    <!-- Header destro -->
                    <header class="d-flex justify-content-between flex-shrink-0 ">
                        <div class="personal-data d-flex align-items-center ">
                            <img class="avatar" :src="`img/avatar${selectedContact.avatar}.jpg`" alt="avatar 2">
                            <div>
                                <div id="selected-contact-name">{{selectedContact.name}}</div>
                                <span id="last-access">{{selectedContactStatus}}</span>
                            </div>
                        </div>
                        <div class="buttons d-flex align-items-center column-gap-3">
                            <i role="button" class="fa-solid fa-circle-notch"></i>
                            <i role="button" class="fa-solid fa-message"></i>
                            <i role="button" class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </header>
                    <!-- Display messaggi -->
                    <div id="display-messages" class="flex-grow-1 overflow-y-scroll">
                        <div @click="(event)=> addActiveClass(event)" v-for="message in selectedContact.messages"
                            class="message-item" :class="message.status" :key="`${selectedContact.id} ${message.id}`">
                            {{message.text}}
                            <span class="message-time">{{message.date}}</span>
                            <div class="drop-down-menu">
                                <div>Message info</div>
                                <div @click="deleteMessage(message.id)">Delete message</div>
                            </div>
                        </div>
                    </div>
                    <!-- Footer -->
                    <footer class="d-flex px-5 flex-shrink-0">
                        <button class="btn" type="button" id="emoji">
                            <i class="fa-regular fa-face-smile"></i>
                        </button>
                        <input @keyup.enter="getNewMessage" id="new-message" type="text"
                            class="flex-grow-1 border-0 rounded " placeholder="Scrivi un messaggio"
                            v-model.trim="newMessageText">
                        <button class="btn" type="button" id="emoji">
                            <i class="fa-solid fa-microphone"></i>
                        </button>
                    </footer>
                </div>
            </div>
        </main>
    </div>
</body>

</html>